@import "tailwindcss";

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@theme {
  --color-green-light: #92de8b;
  --color-green-medium: #0ab68b;
  --color-green-dark: #028174;
  --color-beige: #ffe3b3;
  --background-image-login: url("/login-bg2.jpg");
}

@layer components {
  .underline-animate {
    @apply relative after:absolute after:left-0 after:-bottom-1
           after:h-0.5 after:w-0 after:bg-current
           after:transition-all after:duration-500
           hover:after:w-full;
  }
}
